.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    margin-bottom: 1rem;
  }
  
  .description {
    margin-bottom: 2rem;
  }
  
  .cubeContainer {
    width: 100vw;
    height: 66vh;
  }
  
  .themeToggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }
  